[data-role="layout"]{
    display:grid;
    grid-template-columns: 30vw auto;
}
[data-role="layout"] > *{
    height:100vh;
}
body{
    overflow:hidden;
}
aside{
    position:fixed;
    width:35vw;
    background-color:rgb(51, 50, 65);
}
main{
    width:65vw;
    margin-left:35vw;
    background-color:rgb(97, 96, 115);
    padding:1em;
    position: relative;
    overflow-x:hidden;
}
.msg{
    position:fixed;
    bottom:0;
    right:0;
    width:63vw;
}
.msg [data-type="form"]{
    display:grid;
    justify-content: center;
    align-items:center;
    grid-template-columns: 1fr auto;
}
.msg input{
    height:100%;
}
.chats > section{
    width:max-content;
    padding:0.25em 0.5em;
}
.froms, .tos{
    margin-top:5px;
    position:relative;
    padding:2em 0;
    display:grid;
    grid-template-rows:1fr auto;
}
.from, .to{
    cursor:pointer;
}
[data-type="message"]{
    padding:0.3em 0.5em;
}
.tos{
    margin-left:auto;
    margin-right:20px;
}
.to{
    text-align:right;
}
/*  Timing */
.fromTime{
    text-align:right;
    font-size:0.7rem;
}
.toTime{
    font-size:0.7rem;
}
#chats{
    padding:3em 0;
}
#chatHistory > section{
    width:100%;
    height:60px;
    margin:0;
}
#chatHistory > section img{
    width:60px;
    height:60px;
    object-fit: contain;
}