*{
    font-weight:bold;
}
[data-role="layout"]{
    display:grid;
    grid-template-columns: 30vw auto;
}
[data-role="layout"] > *{
    height:100vh;
}
body{
    overflow:hidden;
}
aside{
    position:fixed;
    width:40vw;
    background-image:linear-gradient(45deg, #aa5d84,#5f2a59);
    box-shadow:10px 0px 10px 5px #5f2a59;
    z-index:3
}
aside::after{
    position:absolute;
    content:"a";
    color:transparent;
    width:100%;
    height:10px;
    bottom:60px;
    background-image:linear-gradient(45deg,#aa5d84,#5f2a59,#aa5d84);
    box-shadow:0 -5px 4px 6px #5f2a59;
}
main{
    width:60vw;
    margin-left:40vw;
    background-image:radial-gradient(#aa5d84, #5f2a59);
    padding:1em;
    position: relative;
    overflow-x:hidden;
}
.msg{
    position:fixed;
    bottom:0;
    right:0;
    width:60vw;
    z-index:4;
}
.msg [data-type="form"]{
    width:100%;
    display:grid;
    justify-content: center;
    align-items:center;
    grid-template-columns: 1fr auto;
}
.msg input{
    height:100%;
}
.chats > section{
    width:max-content;
    padding:0.25em 0.5em;
}
.froms, .tos{
    margin-top:5px;
    position:relative;
    padding:2em 0;
    display:grid;
    grid-template-rows:1fr auto;
}
.from, .to{
    cursor:pointer;
}
[data-type="message"]{
    padding:0.3em 0.5em;
    background-color: hsl(0 0% 100% / 0.5);
    backdrop-filter: blur(1px);
    font-weight:normal;
}
.tos{
    margin-left:auto;
    margin-right:20px;
}
.to{
    text-align:right;
}
/*  Timing */
.fromTime{
    text-align:right;
    font-size:0.7rem;
}
.toTime{
    font-size:0.7rem;
}
#chats{
    padding:3em 0;
}
#chatHistory > section{
    width:90%;
    height:60px;
    margin:0 auto;
}
#chatHistory > section img{
    width:60px;
    height:40px;
    object-fit: cover;
}